<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <div>
        <h2>
            Boas Vindas!
        </h2>
        <p> Você acabou de acessar nosso teste de sistema de login com python</p>
        <label for="comentarios" id="comentarios">diga comentarios sobre oque você quer no site:<br></label>
        <input type="text" name="comentarios" id="boas vindas">
        <button type="submit" id enviar>
            <span></span> Enviar
        </button>
    </div>
</body>
</html>